<nav class="mb-4 d-flex justify-content-between">

    <ul class="d-flex align-items-center">

        <li><%= link_to "Home", "/", class:"p-3" %></li>
        <li><%= link_to "Posts", posts_path, class:"p-3" %></li>
        <li><%= link_to "Contacts", contacts_path, class:"p-3" %></li>

    </ul>

    <ul class="d-flex align-items-center">

        <li>
            <a href="/profile" id="a-profile" class="p-3">Username</a>
        </li>

        <li>
            <a href="/logout" class="p-3">Logout</a>
        </li>

    </ul>

</nav>
