<nav class="mb-4 d-flex justify-content-between">

    <ul class="d-flex align-items-center">

        <li><a href="/" id="a-home" class="p-3">Home</a></li>

        <li><a href="/posts/"  id="a-db" class="p-3">Posts</a></li>

        <li><a href="/contacts"  id="a-src" class="p-3">Contacts</a></li>


    </ul>

    <ul class="d-flex align-items-center">

        <li>
            <a href="/profile" id="a-profile" class="p-3">Username</a>
        </li>

        <li>
            <a href="/logout" class="p-3">Logout</a>
        </li>

    </ul>

</nav>
