.active {
    color: red;
    cursor: default;
    text-decoration: none;
}

header > a {
    text-decoration: none;
    color: white;
}

header > a:hover {
    text-decoration: none;
    color: yellow;
}

header {
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 2em;
    background-color:black
}

input {
    border: 1px solid black;
}






  .menu {
    list-style-type: none;
    margin-bottom: 20px;
    margin-top: 0;
    margin-left: 0px;
    margin-right: 0px;

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0;
    padding-bottom: 0;

    overflow: hidden;
    background-color: #000047;
  }
  
  .menu > li {
    float: left;
  }

  .menu-name {
    float: left;
    color: yellowgreen;
    padding: 16px 16px;
    font-weight: bold;
  }

  .notes {
    float: right;
    color: white;
    padding: 16px 16px;
  }
  
  .menu >li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
  }
  

  .menu >li button {
    margin-top: 0.5rem;
    margin-left: 1rem;
  }


  /* Change the link color to #111 (black) on hover */
  .menu > li a:hover {
    background-color: #00468b;
  }

  .menu > li > a.active {
    background-color: CadetBlue;
  }



.table>:not(:first-child) {
  border-top: 0px solid black !important;
}




/***/

.action {
  text-decoration: none;
  cursor: pointer;
}


/*******/

.formValidatonErr {
  color: red;
  font-size: smaller;
}
