
<h3>List of Posts</h3>

<% @post.each do |post| %>

<div class="row">

    <div class="col-1">
    </div>

    <div class="card col-3 m-3 pb-3">
      <h3><%= post.title %></h3>
      <p><%= post.body %></p>
      <%= link_to "Read...", post_path(post), :class => "btn btn-outline-primary" %>

    </div>

</div>


<% end %>
