<%- include('../header') %>

<div class="row">
    <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8" style="margin-left: 15px;">
  
  <table id="rows" class="table table-striped table-bordered nogrid"  data-page-length='50' >
  
    <thead>
      <colgroup>
        <col style="width: 35px">
        <col style="width: 50px">
      </colgroup>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Action</th>
      </tr>
    </thead>
  
  <tbody>
  
  {% for row in rows %}
  <tr>
    <td>{{row.role_id}}</td>
    <td>{{row.role_name}}</td>
    <td>{{row.role_description}}</td>
  
    <td>
      <a href="/eq/roles/edit/{{row.role_id}}"     class="edit"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
      <a href="/eq/roles/delete/{{row.role_id}}"   class="delete"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
    </td>
  
  </tr>
  {% endfor %}
  </tbody>
  </table>
  
  
  </div>  <!-- column -->
  
  
  </div>
